{% extends 'base.html.twig' %}

{% block title %}Edit password{% endblock %}

{% block heading %}
    <i class="fal fa-user"></i>
    Edit password
{% endblock %}

{% block breadcrumbitems %}
    <li>
        {{ user.fullname}}
    </li>
    <li>
        <a href="{{ path('profile_edit') }}">
            Profile
        </a>
    </li>
{% endblock %}

{% block body %}

    <div class="panel panel-flat">
        <div class="panel-body">
            {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>
{% endblock %}