{% extends 'base.notlogged.html.twig' %}

{% block title %}Login{% endblock %}
{% block bodyclass %}login-container{% endblock %}

{% block body %}
    <form method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="panel panel-body login-form">
            <div class="text-center">
                <img src="/assets/images/logo-login.png" alt="simplement Web" class="logo-login"/>
                <h5 class="content-group">Login to your account
                    <small class="display-block">Enter your credentials below</small>
                </h5>
            </div>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% include('flash.html.twig') %}

            <div class="form-group has-feedback has-feedback-left">
                <input type="text" class="form-control" placeholder="Username" name="username" value="{{ last_username }}" required="required" autofocus="autofocus"/>
                <div class="form-control-feedback">
                    <div class="fal fa-user fa-fw text-muted"></div>
                </div>
            </div>

            <div class="form-group has-feedback has-feedback-left">
                <input type="password" class="form-control" placeholder="Password" name="password" required="required"/>
                <div class="form-control-feedback">
                    <div class="fal fa-key fa-fw text-muted"></div>
                </div>
            </div>

            <div class="checkbox">
                <label class="text-muted">
                    <input type="checkbox" name="_remember_me"/>
                    Remember me
                </label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign in
                    <div class="fal fa-chevron-circle-right fa-fw position-right"></div>
                </button>
            </div>

            <div class="text-center">
                <a href="{{ path('app_forgotten_password') }}">Forgot password?</a>
            </div>
        </div>

    </form>
{% endblock %}