{% extends 'base.html.twig' %}

{% block title %}Relevé{% endblock %}

{% block breadcrumbitems %}
  <span class="breadcrumb-item active">Relève</span>
{% endblock %}

{% block body %}
  <div class="card card-body">
    <div class="btn-group">
      {% for type_id, type_name in types %}
        <a href="{{ path('releve_type', {'type': type_id}) }}" class="btn btn-light">
          <i class="fal fa-{{ icons[type_id] }} fa-fw fa-2x"></i>
          <br>
          {{ type_name }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}