<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
            — simplement Web</title>
        {% block stylesheets %}
            <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
            <link href="/assets/fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/manager.css" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% include('nav.top.html.twig') %}
        <div class="page-container">
            <div class="page-content">
                {% include('nav.left.html.twig') %}
                <div class="content-wrapper">

                    <div class="page-header page-header-default page-header-xs">
                        {#
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4>
                                    {% block heading %}{% endblock %}
                                </h4>
                            </div>

                            <div class="heading-elements">
                                <div class="btn-group">
                                    {% block headingbutton %}{% endblock %}
                                </div>
                            </div>
                        </div>
                        #}

                        <div class="breadcrumb-line">
                            <a class="breadcrumb-elements-toggle">
                                <i class="fal fa-bars"></i>
                            </a>
                            <ul class="breadcrumb">
                                {% block breadcrumbitems %}{% endblock %}
                            </ul>
                            <ul class="breadcrumb-elements">
                                {% block breadcrumbbutton %}{% endblock %}
                            </ul>
                        </div>
                    </div>

                    <div class="content">
                        {% include('flash.html.twig') %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
            <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
            <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
            <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
            <script type="text/javascript" src="/assets/js/core/app.js"></script>
            <script type="text/javascript" src="/assets/js/manager.js"></script>
        {% endblock %}
    </body>
</html>