<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
            — simplement Web</title>
        {% block stylesheets %}
            <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
            <link href="/assets/fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="/assets/css/manager.css" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">

        <div class="navbar navbar-inverse">
            {#
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="assets/images/logo.png" alt=""></a>
            </div>#}

            <div class="navbar-collapse collapse" id="navbar-mobile">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://lab.simplement-web.com" target="_blank">
                            <i class="fal fa-globe"></i>
                            <span class="visible-xs-inline-block position-right">
                                Site web</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-container">
            <div class="page-content">
                <div class="content-wrapper">
                    <div class="content">
                        {% block body %}{% endblock %}
                        {% block footer %}
                            <div class="footer text-muted text-center">
                                <a href="https://www.simplement-web.com" target="_blank">www.simplement-web.com</a>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
            <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
            <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
            <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
        {% endblock %}
    </body>
</html>