<div class="navbar navbar-expand-lg navbar-light">
    <div class="text-center d-lg-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
            <i class="fad fa-angle-double-down"></i>
            Pied de page
        </button>
    </div>

    <div class="navbar-collapse collapse" id="navbar-footer">
        <span class="navbar-text">
            crée par
            <a href="https://www.simplement-web.com/" target="_blank">Nathanaël Martel - simplement Web</a>
            - version
            {% include 'version.html.twig'%}
        </span>

        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
                <a href="{{ path('releve') }}" class="navbar-nav-link">
                    Relève
                </a>
            </li>
        </ul>
    </div>
</div>